.contedor-principal{
    width: 80%;
    height: 370px;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 1%;

}
.contedor-principal-lblacercade{
    margin-right: 200px;
    font-family: "Century Gothic";
    font-size: 20px;
}
.contedor-principal-lbltitulo{
    font-weight: bold;
    font-family: "Century Gothic";
    font-size: 40px;
    text-align: center;
    color: #00c4ff;
}

.contedor-principal-img{
    width: 250px;
    height: 250px;
}