*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #00c4ff;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the header is above other content */
}

.header-contenedor-menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 400px;
}

.header-contenedor-menu-lbl{
    font-size: 30px;
    color: white;

}

.header-contenedor-menu-navar-listas{
    position: relative;
    float: left;
}

.header-contenedor-menu-navar-listas-link{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
.header-contenedor-menu-navar-listas-link:hover{

    color: darkblue;

}
#menu{
    display: none;
}

.header-contenedor-menu-icono{
    width: 40px;
    margin-right: 10px;
}

.menu label{
    cursor: pointer;
}


