
.Contenedor-principal-libros {
    margin-top: 20px;
    width: 80%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #e2e2e2;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}


.Contenedor-principal-libros-unidad
{   width: 98%;
    height: 250px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 15px;
    margin-left: 15px;

}

.Contenedor-principal-libros-unidad-img{
    width:150px;
    height:210px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    float: left;
}
.Contenedor-principal-libros-unidad-img-vista{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 5px;
}

.Contenedor-principal-libros-unidad-txt{
    width: 75%;
    height: 100%;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 100px;

}

.Contenedor-principal-libros-unidad-txt-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #00c4ff;
    line-height: 1.5em;
    font-weight: bold;
}

.Contenedor-principal-libros-unidad-txt-autor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #00c4ff;
    line-height: 1.5em;
    font-weight: bold;
}
.Contenedor-principal-libros-unidad-txt-resulado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.Contenedor-principal-libros-unidad-btn{
    position: relative;
    float: left;
    width: 100px;
    height: 50px;


}
.Contenedor-principal-libros-unidad-btn-alquilar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: #61dafb;
    position: relative;
    float: left;
    width: 115px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #61dafb;
    color: white;
    text-align: center;
    font-weight: bold;


}

.Contenedor-principal-libros-unidad-btn-alquilar-icon{
    width: 15px;
    height: 15px;
    text-align: left;

}


